<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link btn-block text-left"
                        data-target="#collapseOne" data-toggle="collapse" type="button">
                        I. Datos de la unidad
                    </button>
                </h2>
            </div>

            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
                <div class="card-body">

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="unitName">1. Nombre de la unidad que investiga</label>
                            <input class="form-control" id="unitName" name="unitName" readonly type="text"
                                value="HOSPITAL ONCOLOGICO SOLON ESPINOSA AYALA">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="researchDate">2. Fecha de investigacion</label>
                            <input class="form-control" id="researchDate" name="researchDate" type="date" required>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>3. Ubicación unidad</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="unitProvince">Provincia</label>
                            <!--input class="form-control" id="unitProvince" name="unitProvince" type="text"-->
                            {{ form.unitProvinceCode(class="form-control") }}
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="unitCanton">Cantón</label>
                            <input class="form-control" id="unitCantonCode" name="unitCantonCode" type="text" required>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="unitParish">Parroquia</label>
                            <input class="form-control" id="unitParishCode" name="unitParishCode" type="text" required>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button aria-controls="collapseTwo" aria-expanded="false"
                        class="btn btn-link btn-block text-left collapsed" data-target="#collapseTwo"
                        data-toggle="collapse" type="button">
                        II. Datos de identificación del caso
                    </button>
                </h2>
            </div>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample" id="collapseTwo">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>4. Nombre</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="lastName">Primer Apellido</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" required>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="surName">Segundo Apellido</label>
                            <input class="form-control" id="surName" name="surName" type="text" required>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="firstName">Primer Nombre</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" required>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="middleName">Segundo nombre</label>
                            <input class="form-control" id="middleName" name="middleName" type="text" required>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label>5. Sexo</label>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="sex" id="sex-h" value="H" required>
                              <label class="form-check-label" for="sex-h">
                                Hombre
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="sex" id="sex-m" value="M" required>
                              <label class="form-check-label" for="sex-m">
                                Mujer
                              </label>
                            </div>
                            <div class="invalid-feedback">
                                Dato obligatorio!
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Fecha de nacimiento</label>
                            <input class="form-control" type="date" id="birthDate" name="birthDate" required size="80">
                        </div>
                        <div class="form-group col-md-3">
                            <label>6. Edad</label>
                            <div class="row">
                                <div class="col-sm">
                                    <input class="form-control" id="ageYears" name="ageYears" type="text" required readonly>
                                    años
                                </div>
                                <div class="col-sm">
                                    <input class="form-control" id="ageMonths" name="ageMonths" type="text" required readonly>
                                    meses
                                </div>
                                <div class="col-sm">
                                    <input class="form-control" id="ageDays" name="ageDays" type="text" required readonly>
                                    dias
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="civilState">7. Estado civil</label>
                            <select class="custom-select" id="civilState" name="civilState" required>
                              <option value="S">Soltero(a)</option>
                              <option value="C">Casado(a)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="educationLevel">8. Escolaridad</label>
                            <select class="custom-select" id="educationLevel" name="educationLevel" required>
                              <option value="PRI">Primaria</option>
                              <option value="SEC">Secundaria</option>
                              <option value="SUP">Superior</option>
                              <option value="NIN">Ninguna</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <label for="occupation">9. Ocupación</label>
                            <input class="form-control" id="occupation" name="occupation" type="text" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="telephone">10. Teléfono</label>
                            <input class="form-control" id="telephone" name="telephone" type="text" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>11. Lugar de residencia</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="residenceProvince">Provincia</label>
                            <input class="form-control" id="residenceProvince" name="residenceProvince" type="text" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="residenceCanton">Cantón</label>
                            <input class="form-control" id="residenceCanton" name="residenceCanton" type="text" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="residenceParish">Parroquia</label>
                            <input class="form-control" id="residenceParish" name="residenceParish" type="text" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="address">Dirección exacta</label>
                            <input class="form-control" id="address" name="address" type="text" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="liable">12. Nombre de la madre o responsable</label>
                            <input class="form-control" id="liable" name="liable" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="card-body">
                    <div class="form-row">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
             </div>
    </div>
</form>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
$( "input" ).on(
    "change",
    { foo: "bar" }, // Associate data with event binding
    function( eventObject ) {
        console.log("An input value has changed! ", eventObject.data.foo);
    }
);
$( "#birthDate" ).focusout(function() {
    var bd = document.getElementById("birthDate").value;
    if (bd != '') {
        $.getJSON(window.location.href+"/api/"+bd).done(function(data){
          document.getElementById('ageYears').value = data["years"];
          document.getElementById('ageMonths').value = data["months"];
          document.getElementById('ageDays').value = data["days"];
        });
    } else {
          document.getElementById('ageYears').value = '';
          document.getElementById('ageMonths').value = '';
          document.getElementById('ageDays').value = '';
    }
});
</script>
</body>

</html>